
[Desktop Entry]
Type=Application
Name=Firefox Browser
Comment=Web browser
Icon=/usr/share/icons/hicolor/32x32/apps/firefox-bin.png
Exec=/usr/bin/firefox-bin
Path=/root
Terminal=false
StartupNotify=false

