[Desktop Entry]
Version=0.6.7
Name=Partimage
Type=Application
Comment=Ghost clone for linux
Exec=xfce4-terminal --hide-menubar --geometry=90x30 --command=partimage
Categories=ConsoleOnly;System;
