[Desktop Entry]
Version=6.11
Name=Testdisk
Type=Application
Comment=Low level disk recovery program
Exec=terminal --hide-toolbars --hide-menubar --geometry=80x25 --command=testdisk
Categories=ConsoleOnly;System;
