[Desktop Entry]
Type=Application
Name=emelfm
Comment=File Manager
Icon=/root/icons/emelfm2.png
Exec='/usr/bin/emelfm2'
Path=/root
Terminal=false
StartupNotify=false

